.container {
  /* border-bottom: 1px solid black;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between; */
  padding: 16px 24px;
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--color-border);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: var(--header-height); */

  color: var(--header-text);

  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
