.section {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  height: 700px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(rgba(4, 21, 45, 0) 0%, rgb(18, 18, 18) 79.17% 79.17%),
    url('http://image.tmdb.org/t/p/original/wQOhbCP6H8bO5ddlXDZT207orew.jpg');
}
