.list {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
}

.link {
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-md);
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--header-text);
  text-decoration: none;
  transition: var(--transition);
  opacity: 0.7;
}

.link:hover {
  color: var(--color-accent-hover);
}

.activeLink {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

@media (max-width: 768px) {
  .nav {
    padding-top: var(--space-xs);
    width: 100%;
  }

  .list {
    flex-direction: column;
    flex-wrap: wrap;
    /* gap: var(--space-md); */
    width: 100%;
    gap: 0;
  }

  .list li {
    width: 100%;
  }

  .link {
    display: inline-block;
    width: 100%;
    border-radius: 0;
  }
}
